@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
    
}
header > h1 {
    flex-basis: 50px;
    justify-content: center;
}
header > nav > a {
    
}
header{
    text-align: center;
}
